<div class=chat-header>
  <div class="room-title">hogefuga</div>
  <div class="chat-close">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-header">
      <div class="message-name">Tom</div> 
      <div class="message-date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="message-bottom">おはよう</div>
  </div>
  <div class="message">
    <div class="message-header">
      <div class="message-name">Tom</div> 
      <div class="message-date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="message-bottom">おはよう</div>
  </div>
</div>

<div class="form">
  <div class="form-input">
      <input class="text-form" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
  </div>
  <input type="submit" class="submit-btn" value="送信">  
</div>