<div class=chat-header>
  <div class="room-title">hogefuga</div>
  <div class="chat-close">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-header">
      <div class="message-name">Tom</div> 
      <div class="message-date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="message-bottom">おはよう</div>
  </div>
  <div class="message">
    <div class="message-header">
      <div class="message-name">Tom</div> 
      <div class="message-date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="message-bottom">おはよう</div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local:true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: "text-form", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "submit-btn" %>  
  </div>
<% end %>