.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-create a {
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px 0;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.main-chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room-title {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.chat-close {
  margin-top: 40px;
}

.chat-close a {
  border: 1px solid darkred;
  padding: 20px;
  color: darkred;
  text-decoration: none;
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message-header {
  display: flex;
  margin-top: 10px;
}

.message {
  margin-bottom: 40px;
}

.message-name {
  font-size: 16px;
  color: #434a5a;
}

.message-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-bottom {
  font-size: 14px;
  color: #434a54;
  margin-top: 10px;
}

.form {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;

}

.text-form {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 0;
}

.submit-btn {
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  border: 0;
  height: 50px;
  margin-left: 15px;

}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}